<div class="panel panel-default panel-primary" id="team">
  <div class="panel-heading">
    <h3 class="panel-title">
      <%= @team.name ? @team.name : "Set your team's name" %>
      <%= link_to "Edytuj", edit_team_path(@team), class: "btn btn-xs btn-danger pull-right", remote: true %>
    </h3>
  </div>
  <div class="panel-body">
    <% @team.members.each_with_index do |user, index| %>
      <div class="<%= index == 0 ? "captain" : cycle("light",["light","dark"]) %>">
        <%= user.full_name %>
      </div>
    <% end %>
  </div>
</div>