<% content_for :rules do %>
    <hr>
    <h2 class="text-center">Rules</h2>
    <hr>
    <p>
      Register MAX 12 teams (3 players per team). Each country has one spot guaranteed.
    </p>
    <p>
      <b>Qualifications:</b> During qualifications there will be three machines (3 balls/game) - each team is required
      to play one time on one machine in a specified time slot given by the organizer.<br>
      On two machines each player will play single ball of 3-ball game. Last machine will be played in SPLIT MODE -
      each player controls only one flipper button. Each ball will be played by consequtive permutations of players.<br>
      Points on each machines (1-12) - three best teams are going to the final.<br>
    </p>
    <p>
      <b>Final:</b> Final match will be played on one machine (1 player - 1 ball)
    </p>
<% end %>

<% content_for :flippers do %>
    <hr>
    <h2 class="text-center">
      List of Pinballs
    </h2>
    <hr>
    <ul>
      <li>
        TBD
      </li>
    </ul>
<% end %>

<% content_for :prizes do %>
    <hr>
    <h2 class="text-center">
      Prizes
    </h2>
    <hr>
    <ul>
      <li>
        TBD
      </li>
    </ul>
<% end %>