<% content_for :rules do %>
    <h3 class="text-center">Rules</h3>
    <ul>
      <li>
        <b>Preliminary:</b> Lorem Ipsum
      </li>
      <li>
        <b>Final:</b> Lorem Ipsum
      </li>
    </ul>
<% end %>
