<% content_for :rules do %>
  <h3 class="text-center">Zasady</h3>
  <ul>
    <li>
      <b>Eliminacje:</b> Podczas eliminacji będzie dostępnych 8 fliperów SYSTEM 11 - każdy zawodnik jest zobowiązany do rozegrania czterech gier na dowolnie przez siebie wybranych maszynach.
      Punktacja w eliminacjach jest uzależniona od liczby zawodników biorących udział w turnieju (tj. w przypadku 30 graczy - najlepszy zawodnik na maszynie X zdobywa 30 pkt, kolejny punkt mniej itd)
      Do Finału (niedziela) przechodzi 4 graczy z najlepszym wynikiem z eliminacji.
    </li>
    <li>
      <b>Finał:</b> rozgrywany na 4 maszynach (punktacja 7-5-3-1).
    </li>
  </ul>
<% end %>
