<% content_for :rules do %>
  <hr>
  <h2 class="text-center">Zasady</h2>
  <hr>
  <p>
    <b>Eliminacje:</b> Podczas eliminacji będzie dostępnych 8 fliperów SYSTEM 11 - każdy zawodnik jest zobowiązany do
    rozegrania pięciu gier na dowolnie przez siebie wybranych maszynach.<br>
    Punktacja w eliminacjach jest uzależniona od liczby zawodników biorących udział w turnieju (tj. w przypadku 30
    graczy - najlepszy zawodnik na maszynie X zdobywa 30 pkt, kolejny punkt mniej itd) Do Finału (niedziela)
    przechodzi 3 graczy z najlepszym wynikiem z eliminacji.<br>
  </p>
  <p>
    <b>Finał:</b> rozgrywany na 3 maszynach (punktacja 7-5-3)
  </p>
<% end %>

<% content_for :flippers do %>
  <hr>
  <h2 class="text-center">
    Lista maszyn
  </h2>
  <hr>
  <ul>
    <li>
      TBD
    </li>
  </ul>
<% end %>

<% content_for :prizes do %>
    <hr>
    <h2 class="text-center">
      Nagrody
    </h2>
    <hr>
    <ul>
      <li>
        TBD
      </li>
    </ul>
<% end %>