<% content_for :rules do %>
    <hr>
    <h2 class="text-center">Zasady</h2>
    <hr>
    <p>
      Rejestracja MAX 12 drużyn (w tym 4 zarezerwowane dla gości z zagranicy po jednym na dany kraj - w przypadku braku
      zgłoszeń miejsca te zostaną uwolnione)
    </p>
    <p>
      <b>Kwalifikacje:</b> Każda drużyna liczy 3 graczy. Podczas eliminacji będą dostępne 3 flipery - każda drużyna jest
      zobowiązana do rozegrania trzech gier podczas 1 - godzinnego slotu przypisanego przez organizatora.<br>
      Dwie maszyny grane po 1 bili przez każdego zawodnika, trzecia "po łapce" (tzn. 1 BILA - 1z2, 2 BILA - 1z3, 3 BILA
      - 2z3) - wybór maszyny na "split" zależy od drużyny.<br>
      Punktacja za każdego flipera (1-12) - do finału przechodzą 3 najlepsze drużyny z eliminacji.<br>
    </p>
    <p>
      <b>Final:</b> Finał rozgrywany na jednej maszynie - każdy zawodnik gra po 1 bili.
    </p>
<% end %>

<% content_for :flippers do %>
    <hr>
    <h2 class="text-center">
      Lista maszyn
    </h2>
    <hr>
    <ul>
      <li>
        TBD
      </li>
    </ul>
<% end %>

<% content_for :prizes do %>
    <hr>
    <h2 class="text-center">
      Nagrody
    </h2>
    <hr>
    <ul>
      <li>
        TBD
      </li>
    </ul>
<% end %>