<% content_for :rules do %>
  <h3 class="text-center">Zasady</h3>
  <ul>
    <li>
      <b>Eliminacje:</b> Rejestracja MAX 8 drużyn. Każda drużyna liczy 3 graczy. Podczas eliminacji będą dostępne 3 flipery - każda drużyna jest zobowiązana do rozegrania trzech gier podczas 1 - godzinnego slotu przypisanego przez organizatora.
      Dwie maszyny grane po 1 bili przez każdego zawodnika, trzecia "po łapce" (tzn. 1 BILA - 1z2, 2 BILA - 1z3, 3 BILA - 2z3) - wybór maszyny na "split" zależy od drużyny.
      Punktacja za każdego flipera (1-8) - do finału przechodzą 3 najlepsze drużyny z eliminacji.
    </li>
    <li>
      <b>Finał:</b> Finał rozgrywany na jednej maszynie - każdy zawodnik gra po 1 bili.
    </li>
  </ul>
<% end %>
