<% content_for :rules do %>
    <hr>
    <h2 class="text-center">Zasady</h2>
    <hr>
    <p>
      <b>Kwalifikacje:</b> Podczas eliminacji będzie dostępnych 5 fliperów firmy STERN - każdy zawodnik jest
      zobowiązany do rozegrania pięciu gier wszystkich maszynach.<br>
      Punktacja w eliminacjach jest uzależniona od liczby zawodników biorących udział w turnieju (tj. w przypadku 30
      graczy - najlepszy zawodnik na maszynie X zdobywa 30 pkt, kolejny punkt mniej itd). Do Finału (niedziela)
      przechodzi 3 graczy z najlepszym wynikiem z eliminacji.
    </p>
    <p>
      <b>Finał:</b> Finał rozgrywany na 1 maszynie wybranej przez organizatora. Gra będzie ustawiona na 4 kule.
    </p>
<% end %>

<% content_for :flippers do %>
    <hr>
    <h2 class="text-center">
      Lista maszyn
    </h2>
    <hr>
    <ul>
      <li>
        TBD
      </li>
    </ul>
<% end %>

<% content_for :prizes do %>
    <hr>
    <h2 class="text-center">
      Nagrody
    </h2>
    <hr>
    <ul>
      <li>
        TBD
      </li>
    </ul>
<% end %>