<% content_for :rules do %>
    <hr>
    <h2 class="text-center">Rules</h2>
    <hr>
    <p>
      <b>Qualification:</b> During qualifications there will be eight STERN machines - qualify on 5 out of 8 available
      machines, (3 balls/game) of your choice.<br>
      Your scores are entered in a ranking system per machine. For each score on a machine you receive an amount of
      points.<br>
      The 3 people with the highest score at the end of the day are the people qualified for the sunday final.<br>
    </p>
    <p>
      <b>Final:</b> Final match will be played on three different machines (points 7-5-3)
    </p>
<% end %>

<% content_for :flippers do %>
    <hr>
    <h2 class="text-center">
      List of Pinballs
    </h2>
    <hr>
    <ul>
      <li>
        TBD
      </li>
    </ul>
<% end %>

<% content_for :prizes do %>
    <hr>
    <h2 class="text-center">
      Prizes
    </h2>
    <hr>
    <ul>
      <li>
        TBD
      </li>
    </ul>
<% end %>