<div id="tournaments-navbar" class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#tournaments-navbar .navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <!--<%= link_to 'Polish Pinball Open 2016'.html_safe, root_path, class: 'navbar-brand' %>-->
    </div>
    <div class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li><%= link_to t(".menu.rules"), "#rules" %></li>
        <li><%= link_to t(".menu.flippers"), "#flippers" %></li>
        <li><%= link_to t(".menu.prizes"), "#prizes" %></li>
      </ul>
    </div>
  </div>
</div>
