<% content_for :rules do %>
  <h3 class="text-center">Zasady</h3>
  <ul>
    <li>
      <b>Eliminacje:</b> Podczas eliminacji będzie dostępnych 20 fliperów - każdy zawodnik jest zobowiązany do rozegrania dwunastu gier na dowolnie przez siebie wybranych maszynach.
      Punktacja w eliminacjach jest uzależniona od liczby zawodników biorących udział w turnieju (tj. w przypadku 30 graczy - najlepszy zawodnik na maszynie X zdobywa 30 pkt, kolejny punkt mniej itd)
      Do rundy Finałowej (niedziela) przechodzi 32 graczy z najlepszym wynikiem z eliminacji.
    </li>
    <li>
      <b>Runda Finalowa:</b> Druga runda rozgrywana jest systemem 2 KO's - zawodnik odpada z turnieju dopiero w wypadku dwóch przegranych.
      Dwóch graczy (dobrani w wyniku eliminacji) rywalizuje do 2 wygranych (maszyny losuje organizator), w przypadku remisu dogrywka na trzeciej maszynie (losuje organizator).
      Wygrany awansuje dalej, przegrany "spada" do drugiej drabinki.
      Do finału awansuje dwóch najlepszych graczy z górnej drabinki, oraz najlepszy zawodnik z dolnej drabinki.
    </li>
    <li>
      <b>Finał:</b> Finał rozgrywany na czterech maszynach (3 bile, nazwy maszyn podane przed rundą finałową) - kolejność w finale ustalamy na podstawie wyników z eliminacji (najgorszy zaczyna grę itd).
      Punktacja 7-5-3
    </li>
  </ul>
<% end %>