<% content_for :rules do %>
    <hr>
    <h2 class="text-center">Rules</h2>
    <hr>
    <p>
      <b>Qualification:</b> Qualifying for the final rounds is played on Saturday between 12am and 8pm. You qualify on
      12 out of 20 available machines, (3 balls/game) of your choice.<br>
      Your scores are entered in a ranking system per machine. For each score on a machine you receive an amount of
      points. The points of your 10 scores are then totalized, resulting in your final qualifying score.<br>
      The 32 people with the highest score at the end of the day are the people qualified for the final rounds on
      Sunday.
    </p>
    <p>
      <b>Main Finals:</b> Second round is 2 KO's system ('MAIN' table and "LUCKY LOSER' table). Player who losing 2
      times - 'main and lucky loser table' - is eliminated from the tournament.<br>
      All matches in the main table are “head to head” and two wins, player winning all his matches in the main table
      will qualify to the final (The main table will give in the end 2 final players).<br>
      Players losing their match for the first time will be transferred to the LUCKY LOSER table. A player winning all
      his games in the LUCKY LOSER table will also qualify for the final game (only one player from 'lucky loser table'
      go to the final).
    </p>
    <p>
      <b>Final:</b> Final match will be played on three different machines, (3 balls) - the sequence in the final set
      based on the results of elimination ( worst starts the game etc).<br>
      Points 7-5-3
    </p>
<% end %>

<% content_for :flippers do %>
    <hr>
    <h2 class="text-center">
      List of Pinballs
    </h2>
    <hr>
    <ul>
      <li>
        TBD
      </li>
    </ul>
<% end %>

<% content_for :prizes do %>
    <hr>
    <h2 class="text-center">
      Prizes
    </h2>
    <hr>
    <ul>
      <li>
        TBD
      </li>
    </ul>
<% end %>