<% content_for :rules do %>
    <hr>
    <h2 class="text-center">Rules</h2>
    <hr>
    <p>
      <b>Eliminacje:</b> During qualifications there will be eight SYSTEM 11 machines - qualify on 5 out of 8 available
      machines, (3 balls/game) of your choice. The points of your 4 scores are then totalized, resulting in your final
      qualifying score.<br>
      The 4 people with the highest score at the end of the day are the people qualified for the final on evening.
    </p>
    <p>
      <b>Finał:</b> Final match will be played on three different machines (points 7-5-3)
    </p>
<% end %>

<% content_for :flippers do %>
    <hr>
    <h2 class="text-center">
      List of pinballs
    </h2>
    <hr>
    <ul>
      <li>
        TBD
      </li>
    </ul>
<% end %>

<% content_for :prizes do %>
    <hr>
    <h2 class="text-center">
      Prizes
    </h2>
    <hr>
    <ul>
      <li>
        TBD
      </li>
    </ul>
<% end %>

