<% provide(:title, "Home") %>
<div class="center jumbotron">
  <h1>Polish Pinball Open 2016</h1>
  <h2>This is the home page of tournament informational page.</h2>
  <%= link_to "Sign up now!", '#', class: 'btn btn-lg btn-primary' %>
</div>