<% provide :title, "BoP 2.0" %>
<%= render 'tournament_nav' %>

<div class="container">
  <div class="row jumbotron text-center">
    <div class="col-xs-12">
      <h1>Bride of Pinbot 2.0</h1>
    </div>
  </div>
</div>