<% provide :title, "Main" %>
<%= render 'tournament_nav' %>

<section id="jumbotron">
  <div class="container">
    <div class="row jumbotron text-center">
      <div class="col-xs-12">
        <h1>Main Tournament</h1>
      </div>
    </div>
  </div>
</section>

<section id="rules">
</section>

<section id="flippers">
</section>

<section id="prizes">
</section>