<% provide :title, "Main" %>
<%= render 'tournament_nav' %>

<div class="container">
  <div class="row jumbotron text-center">
    <div class="col-xs-12">
      <h1>Main Tournament</h1>
    </div>
  </div>
</div>

<section id="rules">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

      </div>
    </div>
  </div>
</section>

<section id="flippers">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

      </div>
    </div>
  </div>
</section>

<section id="prizes">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">

      </div>
    </div>
  </div>
</section>