<% provide :title, "Kids" %>
<%= render 'tournament_nav' %>
<% render 'tournament_kids_content' %>

<div class="container">
  <div class="row jumbotron text-center">
    <div class="col-xs-12">
      <h1>Kids</h1>
    </div>
  </div>
</div>

<section id="rules">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= yield :rules %>
      </div>
    </div>
  </div>
</section>

<section id="flippers">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= yield :flippers %>
      </div>
    </div>
  </div>
</section>

<section id="prizes">
  <div class="container">
    <div class="row">
      <div class="col-xs-12">
        <%= yield :prizes %>
      </div>
    </div>
  </div>
</section>