<div class="container">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3">
      <div style="border: 2px solid red; margin-top: 20px;" class="alert alert-danger text-center">
        <h4>
          W czasie rejestracji zaznaczyłeś opłacenie składek członkowskich <b>Stowarzyszenia Fanów Flipperów</b>. Żeby móc
          korzystać z przysługujących Ci zniżek musisz poczekać, aż skarbnik potwierdzi ten fakt. Został on już o tym
          poinformowany. Jak tylko dokona weryfikacji, zostaniesz o tym poinformowany mailowo. Dopiero wówczas przy
          dokonywaniu płatności zostaną uwzględnione zniżki.
        </h4>
      </div>
    </div>
  </div>
</div>