<p>
  Witaj <%= @user.first_name %>!
</p>
<p>
  Dziękujemy za zgłoszenie chęci udziału w turnieju <b>Polish Pinball Open 2016</b>.
</p>
<p>
  Numer twojego zamówienia to: <b><%= @order.id %></b>.<br>
</p>
<p>
  Prosimy o przelew kwoty <b><%= number_to_currency @order.total_price, unit: "zł", format: "%n %u" %></b>
  na poniższy rachunek:<br><br>
  <b>Stowarzyszenie Fanów Flipperów</b><br>
  <b></b>
  Bank: PEKAO SA<br>
  Nr konta: <b>PL 09 1240 5950 1111 0010 6580 8462</b><br>
  Tytułem: <b>Zamówienie nr <%= @order.id %></b>
</p>
<p>
  Z chwilą zaksięgowania wpłaty status Twojego zamówienia ulegnie zmianie na zapłacony.
</p>
<p>
  Pozdrawiamy,<br>
  Zespół PPO 2016
</p>