<p>
  Witaj <%= @user.first_name %>!
</p>
<p>
  Dziękujemy za zgłoszenie chęci udziału w turnieju <b>Polish Pinball Open 2016</b>.
</p>
<p>
  Numer twojego zamówienia to: <b><%= @order.id %></b>.<br>
</p>
<p>
  Prosimy o przelew kwoty <b><%= number_to_currency @order.total_price, unit: "zł", format: "%n %u" %></b>
  na poniższy rachunek:<br><br>
  <b>Stowarzyszenie Fanów Flipperów</b><br>
  PKO BP<br>
  11 2222 3333 4444 5555 6666 7777<br>
</p>
<p>
  Z chwilą zaksięgowania wpłaty status Twojego zamówienia ulegnie zmianie na zapłacony.
</p>
<p>
  Pozdrawiamy,<br>
  Zespół PPO 2016
</p>