<p>
  Witaj <%= @user.first_name %>!<br>
</p>
<p>
  Płatność do zamówienie o numerze <%= @order.id %> została zarejstrowana.
</p>
<p>
  Do zobaczenia na <b>Polish Pinball Open 2016</b>.
</p>
<p>
  Pozdrawiamy,<br>
  Zespół PPO 2016
</p>
