<p>
  Hello <%= @user.first_name %>!<br>
</p>
<p>
  Your order <%= @order.id %> has been registered.
</p>
<p>
  See you at the <b>Polish Pinball Open 2016</b> event!
</p>
<p>
  Best Regards<br>
  PPO 2016 Team
</p>
