<p>
  Użytkownik <%= @user.full_name %> złożył zamówienie o numerze <%= @order.id %>. W celu potwierdzenia płatności
  użyj poniższego linku:
</p>
<p>
  <%= link_to "Potwierdzenie płatności", "#" %>
</p>