<p>
  Użytkownik <%= @user.full_name %> złożył zamówienie o numerze <%= @order.id %>.
</p>
<p>
  Przejdź do strony potwierdzenia płatności i kliknij na przycisk "Potwierdź"
</p>
<p>
  <%= link_to "Potwierdzenie płatności", payment_confirmations_url %>
</p>