<p>
  Witaj <%= @user.first_name %>!
</p>
<p>
  Dziękujemy że wspierasz Stowarzyszenie Fanów Flipperów!!!
</p>
<p>
  Twoje członkostwo w SFF zostało potwierdzone. W tym momencie możesz korzystać z dodatkowych zniżek
  jakie przewidzieliśmy dla członków naszego Stowarzyszenia.
</p>
<p>
  Podzrawiamy,<br>
  Zespół PPO 2016
</p>