<p>
  Użytkownik <b><%= @user.full_name %></b> zaznaczył członkostwo w SFF oraz opłacenie składek.<br>
  Korzystając z linka poniżej przejdź do strony z prawami użytkownika i potwierdź ten fakt, korzystając z checkboxa SFF.
</p>
<p>
  <%= link_to "Uprawnienia użytkowników", sff_validations_url %>
</p>