<% orders.each do |order| %>
  <tr>
    <td><%= order.id %></td>
    <td>
      <% order.order_items.each do |item| %>
        <%= item.product.name == "t-shirt" ? "#{item.product.name} - #{item.size}" : "#{item.product.name}" %><br>
      <% end %>
    </td>
    <td>
      <% if order.payment_confirmed? %>
        yes
      <% else %>
        no
        <%= link_to t(".pay_with_paypal"), order.paypal_url(payment_confirmations_path, user_url(order.user)),
          class: "btn btn-primary btn-xs pull-right" %>
      <% end %>
    </td>
  </tr>
<% end %>