<% provide :title, @user.full_name %>
<div class="container" id="profile">
  <div class="row" style="margin-top: 10px;">
    <div class="col-xs-12 col-sm-4">
      <div class="panel panel-default panel-info">
        <div class="panel-heading">
          <a href="#panel-info" data-toggle="collapse">
            <h3 class="panel-title">Informacje <span class="icon-angle-down"></span></h3>
          </a>
        </div>
        <div id="panel-info" class="panel-collapse collapse in">
          <div class="panel-body">
            <div class="table-responsive">
              <table class="table">
                <tr>
                  <td>Imię</td><td><b><%= @user.first_name %></b></td>
                </tr>
                <tr>
                  <td>Nazwisko</td><td><b><%= @user.last_name %></b></td>
                </tr>
                <tr>
                  <td>Email</td><td><b><b><%= @user.email %></b></b></td>
                </tr>
              </table>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-sm-8">
      <div class="panel panel-default panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <a href="#panel-payment" data-toggle="collapse">Płatność <span class="icon-angle-down"></span></a>
          </h3>
        </div>
        <div class="panel-collapse collapse" id="panel-payment">
          <div class="panel-body">
            dupa jasiu
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="row">

  </div>
</div>
