<% if not flash.empty? %>
  <div class="container" id="flash-message">
    <div class="row">
      <div class="col-xs-12">
        <div class="alert alert-danger">
          Dupa jasiu
        </div>
      </div>
    </div>
  </div>
<% end %>