<% if @user.errors.any? %>
    <div id="error_messages">
      <div class="alert alert-danger">
        <%= t(".description") %>
      </div>
      <ul>
      <% @user.errors.messages.keys.each do |field| %>
        <% @user.errors.messages[field].each do |msg| %>
          <li><%= t("users.new.signup.#{field}") + " " + "#{msg}" %></li>
        <% end %>
      <% end %>
      </ul>
    </div>
<% end %>