<div class="container" style="margin-top: 15px;">
  <div class="row">
    <div class="col-xs-12 col-md-5 col-sm-8 col-sm-offset-2">
      <div class="panel panel-primary">
        <div class="panel-heading">
          <h3 class="panel-title">
            <%= t('.order.self') %>
          </h3>
        </div>
        <div class="panel-body" id="cart">
          <%= render @current_order %>
        </div>
      </div>
    </div>
    <div class="col-xs-12 col-md-7 col-sm-8 col-sm-offset-2 product-list" id="products">
        <%= render 'orders/products' %>
    </div>
  </div>
</div>