<% provide :title, "Nowy wynik - #{@tournament.name}" %>

<div class="container" id="t-manage">
  <div class="row">
    <div class="col-xs-12 col-sm-6 col-sm-offset-3 border">
      <%= render "#{@tournament.current_phase.type.downcase}_new_match" %>
    </div>
  </div>
</div>
