@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome.min";
@import "prettyPhoto";
@import "animate";
@import "main";
@import "polyglot-language-switcher-2";

//#main-slider container-fluid {
//  //display: inline-block;
//  float: left;
//  vertical-align: top;
//}
//

@mixin red_glow {
  text-shadow:
          5px 5px 7px red,
          -5px 5px 7px red,
          5px -5px 7px red,
          -5px -5px 7px red
          !important;
}

@mixin green_glow {
  text-shadow:
          5px 5px 7px green,
          -5px 5px 7px green,
          5px -5px 7px green,
          -5px -5px 7px green
          !important;
}

@mixin yellow_glow {
  text-shadow:
          5px 5px 7px yellow,
          -5px 5px 7px yellow,
          5px -5px 7px yellow,
          -5px -5px 7px yellow
          !important;
}

.slider-huge {
  color: white !important;
  font-weight: 900;
  @include red_glow;
}

@media screen and (min-width: 1200px) {
  .slider-huge {
    font-size: 4em;
  }
  .org-logo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }
  .btn-xl {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .slider-huge {
    font-size: 40px;
  }
  .org-logo {
    width: 70px;
    height: 70px;
    margin-top: 5px;
  }
  .btn-xl {
    font-size: 2em;
  }
}

@media screen and (min-width: 768px) {
  .row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-height {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
  }

  .nav > li {
    padding-top: 10px;
  }

  .nav {
    .dropdown-menu {
      li {
        padding-left: 10px;
      }
      li:first-child {
        padding-top: 10px;
      }
    }
  }
}

@media screen and (max-width: 767px) {
  .dropdown-menu {
    li:first-child {
      padding-top: 8px;
    }
    li {
      padding-left: 10px;
    }
  }
  .nav > li {
    padding-top: 10px;
  }
  .nav li.dropdown {
    a:focus {
      color: #bdc3c7;
    }
    a:hover {
      color: #fff;
    }
  }
  .navbar-inverse .navbar-nav .dropdown-menu > li:hover > a {
    background-color: transparent;
  }
  .navbar-header button {
    margin-top: 1px;
    margin-bottom: 1px;
    padding-bottom: 2px;
    padding-top: 2px;
  }
  .dropdown-toggle {
    transition: none;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .slider-huge {
    font-size: 25px;
  }
  .org-logo {
    width: 50px;
    height: 50px;
    margin-top: 2px;
  }
  .btn-xl {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 320px) {
  .slider-huge {
    font-size: 20px;
  }
  .org-logo {
    width: 50px;
    height: 50px;
    margin-top: 2px;
  }
  .btn-xl {
    font-size: 1.5em;
  }
}

body {
  padding-top: 50px;
}

.navbar-header > .navbar-toggle {
  background-color: #333;
}

.navbar-header .collapsed {
  background-color: transparent !important;
}

.nav li {
  font-size: 1.2em;
  font-weight: 500;
}

.navbar-inverse .navbar-nav > li > a {
  padding-top: 1px;
  padding-bottom: 1px;
}

.carousel-bottom {
  position: absolute;
  bottom: 10%;
  width: 100%;
}



#footer {
  .row > div {
    margin: 2px !important;
  }
}

.carousel-content .btn {
  @include red_glow;
}

//TODO: Those colors are ugly!
#main-slider .carousel .btn {
  //@include red_glow;
  border: solid 5px red;
  background: rgba(0,0,0, 0.8);
}

//TODO: Those colors are ugly!
#main-slider .carousel .btn:hover {
  background-color: rgba(0,0,0, 1);
  @include yellow_glow;
  border-color: yellow;
}

.navbar {
  margin-bottom: 0px;
}

.navbar-brand {
  padding-bottom: 0px;
  padding-top: 0px;
  height: auto;
}

.violet {
  background-color: #8F59ED;
  color: #fff;
}

.justify {
  text-align: justify;
  text-justify: auto;
}
