@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome.min";
@import "prettyPhoto";
@import "animate";
@import "main";
@import "polyglot-language-switcher-2";
//@import url(https://fonts.googleapis.com/css?family=Roboto);

@mixin red_glow {
  text-shadow:
          5px 5px 7px red,
          -5px 5px 7px red,
          5px -5px 7px red,
          -5px -5px 7px red
          !important;
}

@mixin green_glow {
  text-shadow:
          5px 5px 7px green,
          -5px 5px 7px green,
          5px -5px 7px green,
          -5px -5px 7px green
          !important;
}

@mixin yellow_glow {
  text-shadow:
          5px 5px 7px yellow,
          -5px 5px 7px yellow,
          5px -5px 7px yellow,
          -5px -5px 7px yellow
          !important;
}

.slider-huge {
  color: white !important;
  font-weight: 900;
  @include red_glow;
}

@media screen and (min-width: 1200px) {
  .slider-huge {
    font-size: 4em;
  }
  .org-logo {
    width: 100px;
    height: 100px;
    margin-top: 10px;
  }
  .btn-xl {
    font-size: 2.5em;
  }
}

@media screen and (min-width: 768px) and (max-width: 1199px) {
  .slider-huge {
    font-size: 40px;
  }
  .org-logo {
    width: 70px;
    height: 70px;
    margin-top: 5px;
  }
  .btn-xl {
    font-size: 2em;
  }
}

@media screen and (min-width: 768px) {
  .row-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-height {
    display: table-cell;
    float: none;
    height: 100%;
    vertical-align: top;
  }
}

@media screen and (max-width: 767px) {
  .nav li.dropdown {
    a:focus {
      color: #bdc3c7;
    }
    a:hover {
      color: #fff;
    }
  }
  .navbar-inverse .navbar-nav .dropdown-menu > li:hover > a {
    background-color: transparent;
  }
  .dropdown-toggle {
    transition: none;
  }
}

@media screen and (min-width: 321px) and (max-width: 767px) {
  .slider-huge {
    font-size: 25px;
  }
  .org-logo {
    width: 50px;
    height: 50px;
    margin-top: 2px;
  }
  .btn-xl {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 320px) {
  .slider-huge {
    font-size: 20px;
  }
  .org-logo {
    width: 50px;
    height: 50px;
    margin-top: 2px;
  }
  .btn-xl {
    font-size: 1.5em;
  }
}

.navbar-header > .navbar-toggle {
  background-color: #333;
}

.navbar-header .collapsed {
  background-color: transparent !important;
}

.carousel-bottom {
  position: absolute;
  bottom: 10%;
  width: 100%;
}

#footer {
  .row > div {
    margin: 2px !important;
  }
}

.carousel-content .btn {
  @include red_glow;
}

#main-slider .carousel .btn {
  border: solid 5px red;
  background: rgba(0,0,0, 0.8);
}

#main-slider .carousel .btn:hover {
  background-color: rgba(0,0,0, 1);
  @include yellow_glow;
  border-color: yellow;
}

.navbar {
  margin-bottom: 0px;
}

.violet {
  background-color: #8F59ED;
  color: #fff;
}
.orange {
  background-color: #ED5A29;
  color: yellow;
}
.yellow-light {
  background-color: #F7D85C !important;
  color: black !important;
}
.yellow-dark {
  background-color: #F7AE00 !important;
  color: black !important;
}
.orange-border {
  border: 2px orangered solid !important;
}
.justify {
  text-align: justify;
  text-justify: auto;
}

#flash-message {
  .row > div {
    margin-top: 5px;
    margin-bottom: 5px;
    & > div {
      margin-top: 0px;
      margin-bottom: 0px;
    }
  }
}

#error_messages {
  ul {
    color: red;
    font-weight: bold;
  }
}

#new_user {
  .field_with_errors {
    @extend .has-error;
    .form-control {
      color: indianred;
    }
  }
}

.divider {
  background-color: #bdc3c7 !important;
  margin-left: 10px !important;
  margin-right: 10px !important;
}

div.affix {
  top: 0;
  width: 100%;
  z-index: 998;
}

.navbar-nav li {
  font-weight: 400;
  letter-spacing: 1px;
  font-size: 1.1em;
}

#lang-switcher {
  padding-top: 10px;
  padding-bottom: 1px;
}

#description, #location, #hotels, #faq, #contact {
  h1 {
    margin-top: 10px;
    margin-bottom: 50px;
  }
}

#contact {
  form {
    border: 2px solid grey;
    border-radius: 10px;
    padding: 20px;
  }
}