<div class="container">

    <div class="row">
      <%= "#{@product.name} - normalna cena: #{@product.price}" %>
      <%= link_to "edit", edit_product_path(@product) %>
      <%= link_to "destroy", product_path(@product), method: :delete %>
    </div>
  <%= link_to "Lista produktów", products_path, class: "btn btn-primary" %>
</div>